/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

.container {
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form h2 {
  text-align: center;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form p {
  text-align: center;
}

.hidden {
  display: none;
}
/* Responsive Design */

/* Tablets */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
  #toggle-button {
    display: block;
  }
}

/* Smartphones */
@media (max-width: 576px) {
  body {
    flex-direction: column;
  }
  .drawer {
    width: auto%;
    height: auto;
    transform: translateY(-100%);
  }
  .drawer.open {
    transform: translateY(0);
  }
  .drawer a {
    padding: 10px;
    flex: 1;
    text-align: center;
  }
  .header h1 {
    font-size: 20px;
  }
  .section {
    padding: 15px;
  }
}
